<!DOCTYPE html>
<html>
<title>Management Home</title>
{% load static %}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 160px;background: grey;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<link rel="icon" type="image/gif" href={% static "/home/logo.png" %} />

<body class="w3-white">

<!-- Icon Bar (Sidebar - hidden on small screens) -->
<nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
  <!-- Avatar image in top left corner -->
  <img src={% static "/home/logo3.png" %} style="width:100%; padding: 16px;" alt="logo">
  <a href="../management" class="w3-bar-item w3-button w3-padding-large w3-hover-black ">
    <i class="w3-xxlarge"></i>
    <h4>Home</h4>
    <p>Current strategy</p>
  </a>
  <a href="../management_step_1" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="w3-xxlarge"></i>
	<h4>Step 1</h4>
    <p>Select ETFs</p>
  </a>
  <a href="../management_step_2" class="w3-bar-item w3-button w3-padding-large w3-black">
    <i class="w3-xxlarge"></i>
	<h4>Step 2</h4>
    <p>Determine rebalance method</p>
  </a>
  <a href="../management_step_3" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="w3-xxlarge"></i>
	<h4>Step 3</h4>
    <p>Set taus</p>
  </a>
  <a href="../management_step_4" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="w3-xxlarge"></i>
	<h4>Step 4</h4>
    <p>Add views</p>
  </a>
  <a href="../management_step_5" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="w3-xxlarge"></i>
	<h4>Step 5</h4>
    <p>Review your strategy</p>
  </a>
  <a href="../management_step_6" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
    <i class="w3-xxlarge"></i>
	<h4>Finish</h4>
    <p>Implement the strategy</p>
  </a>
</nav>

<!-- Navbar on small screens (Hidden on medium and large screens) -->
<div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
  <div class="w3-bar w3-grey w3-opacity w3-hover-opacity-off w3-center w3-small">
	<a href="#" class="w3-bar-item w3-button" style="width:25% !important">Home</a>
    <a href="#" class="w3-bar-item w3-button" style="width:25% !important">Step 1</a>
    <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">Step 2</a>
    <a href="#photos" class="w3-bar-item w3-button" style="width:25% !important">Step 3</a>
    <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">Step 4</a>
	<a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">Step 5</a>
	<a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">Finish</a>
  </div>
</div>

<!-- Page Content -->
<div class="w3-padding-large" id="main">
  <!-- Header/Home -->
  <header class="w3-container w3-padding-32 w3-center w3-light-grey">
    <h1 class="w3-jumbo">New Strategy</h1>
    
			<hr  class="w3-opacity">
    		<div class="w3-container w3-padding-16 w3-left-align">
				<h1>Step 2</h1>
				<h2>Select your ETFs for portfolio construction</h2>
		<form id="management" class="appnitro"  method="post" action="../management_form_2/">
			{% csrf_token %}
			<div class="form_description">
				<h2>Adjust rebalancing frequency</h2>
				<h3>Set the drift threshold for portfolio rebalancing: <input type="number" name="drift_threshold" style="width: 4em" value=2 required>%</h3>
				<h3>Set the frequency for MVO (target weights calculation):  
					<select name="rebalancing_frequency" required>
					  <option  value="weekly">Weekly</option>
					  <option  value="Monthly" selected>Monthly</option>
					  <option  value="Quarterly">Quarterly</option>
					  <option  value="Annually">Annually</option>
					</select>
				</h3>
			</div>

			
			<br/>	
			<p class="w3-center"><input type="reset" class="button"> 
			<input id="saveForm" class="button_text" type="submit" value="Submit" /></p>
		</form>		
		
			</div>
			
			<p><a class="w3-button w3-black" href="../management_step_3"> Next step </i></a></p>
  </header>

<script>
	var myForm = document.getElementById('management');
	myForm.onsubmit = function() {
    var w = window.open('about:blank','Popup_Window','toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=400,height=300,left = 312,top = 234');
    this.target = 'Popup_Window';
};

</script>


  

<!-- END PAGE CONTENT -->
</div>

</body>
</html>
