
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Change views</title>
{% load static %}
<link rel="stylesheet" type="text/css" href="/static/questionnaire/view.css" media="all">
<link rel="stylesheet" type="text/css" href="{% static 'change_views/style.css' %}" />
<script src="/static/questionnaire/jquery-3.1.1.min.js"></script>
	<script>
	function goBack() {
		window.history.back();
	}
	</script>

</head>
<body id="main_body" >
<img id="top" src="/static/questionnaire/top.png" alt="">

	<div id="form_container">
	
		<h1><a></a></h1>
		
		
		<form id="form_21" class="appnitro"  method="post" action="../confirmation/">
			{% csrf_token %}

			<div class="form_description">
				<h2>The views for Black-Litterman model has been updated</h2>
				<h3>Views List: </h3>
			</div>
		
			
			<table style="width:80%">
				<tr>
					<td>
					<script>
						tickers = JSON.stringify({{ tickers }})
						tickers = JSON.parse(tickers);
						var i;
						for (i = 0; i < Object.keys(tickers).length; i++) { 
							document.write("<tr><td>"+ tickers[i] +"</td></tr>");
							
						}			
					</script>	
					{{ views }}
						
					</td>
				</tr>
				
			</table>
			
		
			<br/>	
			
			<button class="button" onclick="goBack()">Go Back</button>
			<button class="button" onclick="window.close()">Close</button>	  
		</form>	
		
	</div>		
<img id="bottom" src="/static/questionnaire/bottom.png" alt="">
	

</body>
